<nav class="shadow-lg text-cyan-500 relative py-3">
    <div class="max-w-6xl mx-auto px-4 ">
      <div class="flex justify-center  items-center h-16 ">
        <div class="absolute top-1.5 left-5">
          <a href="#" class="flex items-center">
            <img src="../../../assets/logo.webp" alt="Logo" class="h-16">
            <span class="ml-2 text-xl font-bold text-cyan-400">CATCHME</span>
          </a>
        </div>
  
        <div class="hidden md:flex text-md">
          <a routerLink="" class="ml-4 px-3 py-2  font-semibold  hover:text-gray-900">Home</a>
          <a routerLink="headlines" class="ml-4 px-3 py-2 font-semibold  hover:text-gray-900">Headlines</a>
          <a routerLink="articles" class="ml-4 px-3 py-2 font-semibold  hover:text-gray-900">Articles</a>
          <a routerLink="source-headlines" class="ml-4 px-3 py-2  font-semibold  hover:text-gray-900">Source-Headlines</a>
          <a routerLink="saved-articles" class="ml-4 px-3 py-2  font-semibold  hover:text-gray-900">Saved-articles</a>
        </div>
  
      </div>
    </div>
  </nav>
  