
<mat-menu #menu class="text-center">
      <button *ngIf="save; else savetag" (click)="deleteHeadline()">Delete</button>
      <ng-template #savetag><button (click)="saveHeadline()">Save</button></ng-template>
  </mat-menu>
<div class="relative bg-gray-900 p-4">
    <div class="absolute top-2 text-white right-2">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <img src="{{headlines.urlToImage ? headlines.urlToImage : '../../../assets/news4.jpg'}}" alt="Article Image" class="w-full h-48 object-cover">
    <p *ngIf="headlines.source.name" class="text-gray-600">{{headlines.source.name}}</p>
    <div class="mt-4">
        <h2 class="text-lg text-slate-400 font-semibold mb-2">{{ headlines.title }}</h2>
        <p *ngIf="headlines.author" class="text-white mt-2 mb-4">- {{headlines.author}}</p>
        <p class="text-gray-600 mb-2">{{ headlines.description }}</p>
        <p *ngIf="headlines.publishedAt" class="text-gray-700 mb-2">{{headlines.publishedAt}}</p>
        <a [href]="headlines.url" target="_blank" class="text-blue-500 hover:underline">Read more</a>
    </div>
</div>
