<div class="bg-gray-900 mt-10 ">
    <div class="flex items-center justify-center">
        <mat-form-field appearance="fill" class="w-full mx-4 sm:w-1/3">
            <mat-label>Select Country</mat-label>
            <mat-select [(ngModel)]="country" (selectionChange)="onCountryChange()">
                <mat-option value="in">India</mat-option>
                <mat-option value="us">United States</mat-option>
                <mat-option value="gb">United Kingdom</mat-option>
                <mat-option value="de">Germany</mat-option>
                <mat-option value="fr">France</mat-option>
                <mat-option value="ru">Russia</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="flex mb-5 justify-center">
        <div class="flex flex-wrap gap-2 sm:gap-10 px-4 sm:px-0">
            <p *ngFor="let _category of categories" class="rounded-md bg-gray-200 px-4 py-2 hover:cursor-pointer"
                [ngClass]="_category === category ? 'text-white bg-gray-500' : ''" (click)="onCategoryChange(_category)">
                {{_category}}
            </p>
        </div>
    </div>
    
    <div class="container mx-auto p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <div *ngFor="let headLine of headLines" class="rounded overflow-hidden">
                <app-headline-card [headlines]="headLine"  [save]="false"></app-headline-card>
            </div>
        </div>
    </div>
    <mat-paginator [length]="totalResults" [pageIndex]="pageIndex" [pageSizeOptions]="[10, 20, 50]" [pageSize]="pageSize"  (page)="onPageChange($event)">
    </mat-paginator>
</div>